@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: 'Avenir Next'; 
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/AvenirNextLTPro-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'AvenirNextBold';
    font-weight: bold;
    font-style: normal;
    src: url("../fonts/AvenirNextLTPro-Bold.otf") format("opentype");
} 

body {
    font-family: 'AvenirNext' !important;
    /* font-family: 'Open Sans', sans-serif !important;
    color: #1E3D58;
    padding-bottom: 85px; */
    height: 100%; 
    background-image: url(../images/blueBackground.svg);
    background-size: fill; 

} 


html{
    height: 100%;
    

}

div {
    /* color: grey; */
}

/* widths */
.w90{
 width: 90% !important;
 margin: auto;
}

.w80{
    width: 80% !important;
    margin: auto;  
}

.w60{
    width: 60% !important;
    margin: auto; 
}

/* Header */
.header{
    padding-top: 10px;  
    background:white; 

}

.header-text{
    padding-bottom: 10px; 
    color: #113650; 
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 700; 
    font-size: 18px;
    line-height: 30px;
    /* identical to box height, or 167% */

    letter-spacing: -0.4px;
}

/* Index Page */
.index-page{
    height: 100%; 
}

.cypher-logo{
    padding-top: 37px;   
}

.tokenized-images{
    margin-top: 40px;  
}

.index-footer{
    background: #FFFFFF;
    box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 25px 25px 0px 0px;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.index-footer-header{
    color: #113650;
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    padding-top: 45px; 
    text-align: center;
    letter-spacing: -1px;
}

.index-footer-subheader {
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */

    text-align: center;
    letter-spacing: -0.4px;

    /* Typography/Black/87% */

    color: black; 
}

.footer-buttons button{
    height: 58px;
    width: 100%; 
    margin-bottom: 16px;  
    color: #113650; 
    font-family: 'AvenirNextBold'; 
    font-style: normal;
    font-weight: 700; 
    font-size: 18px; 
    border-radius: 10px;
    border:none; 
}

.footer-buttons{
    margin-top: 65px;  
    margin-bottom: 43px; 

}

.get-started-btn button{
    background: #5EDBD5;
} 

.login-btn button{
    /* Typography/Light/100% */

    background: #FFFFFF;
    /* Secondary/300 (Primary) */

    border: 1px solid #00CCC3;
}

/* Login Page */
.login-page{
    padding-top: 50px; 
}

.login-page-header{
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    /* or 115% */

    text-align: center;
    letter-spacing: -1px;

    /* Typography/Dark/100% */

    color: #113650;
}

.login-page-header{
    margin-top: 42px; 
}
.login-page-subheader{
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */
    
    text-align: center;
    letter-spacing: -0.4px;
}


.login-form{
    margin-top: 29px; 
}

.login-form label{
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    /* identical to box height, or 167% */
    
    letter-spacing: -0.4px; 
    color: rgba(17, 54, 80)

}

.login-form input{
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    /* or 144% */

    display: flex;
    align-items: center;
    letter-spacing: -0.5px;

    /* Typography/Dark/100% */
    background: #FFFFFF;
    border-radius: 6px;
    color: #113650; 
    border: none;
    height: 52px; 
    width: 100%; 
}

.login-footer{
    position: absolute;
    width: 100%;
    bottom: 0
}

.login-register{
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    /* identical to box height, or 200% */

    text-align: center;
    letter-spacing: -0.4px;

    /* Typography/Dark/87% */

    color: rgba(17, 54, 80);
}

.login-register span{
    color: #5EDBD5;
    text-decoration: underline; 
}

.login-page-btn button{
    height: 58px;
    width: 80%;  
    background: none;
    font-family: 'AvenirNextBold';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;

    letter-spacing: -0.5px;
    background: #5EDBD5;
    border: none; 
    border-radius: 10px;
    color: #113650;
    margin-bottom: 43px;  
    margin-top: 15px; 
}


  /* These changes are for mobile changes */
/* Iphone SE 370px screens */
@media screen and (max-width: 380px) {

    .login-page-btn button{

        margin-bottom: 15px;  
        margin-top: 15px;   
    }

  }

 

/* Small Devices like Samsung Galaxy s8+ */

@media screen and (max-width: 370px) and (max-width: 380px) {

}


/* Pixels and regular iPhones */
@media screen and (min-width: 390px) and (max-width: 400px) {


    
}
/* Tablets */
@media only screen and (min-device-width: 768px){



}
